/* body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.scroll-sections{
  margin-top: 10vh;
  padding-top: 8vh;
  scroll-snap-align: start;
} */

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller .scroll-sections {
  scroll-snap-align: start;
}
