body {
  margin: 0;
 font-family: Open Sans;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

/* body{
  
} */
@media (max-width: 599px){
.removeinmobile{
  display: none;
}
}