.zl-staff-items{
    padding: 20px;
}
.zl-stack-header {
    margin: 0 0 30px 0;
  }
  @media (min-width: 768px) {
    .zl-stack-header {
      margin: 0 0 40px 0;
    }
  }
  @media (min-width: 1024px) {
    .zl-stack-header {
      margin: 0 0 60px 0;
    }
  }
  @media (min-width: 1200px) {
    .zl-stack-header {
      margin: 0 0 70px 0;
    }
  }
  @media (min-width: 1600px) {
    .zl-stack-header {
      margin: 0 0 80px 0;
    }
  }
  .zl-stack-header h2,
  .zl-stack-header h3 {
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .zl-stack-header h2,
    .zl-stack-header h3 {
      font-size: 42px;
      line-height: 44px;
    }
  }
  @media (min-width: 1024px) {
    .zl-stack-header h2,
    .zl-stack-header h3 {
      font-size: 55px;
      line-height: 58px;
    }
  }
  @media (min-width: 1200px) {
    .zl-stack-header h2,
    .zl-stack-header h3 {
      font-size: 60px;
      line-height: 63px;
    }
  }
  @media (min-width: 1600px) {
    .zl-stack-header h2,
    .zl-stack-header h3 {
      font-size: 72px;
      line-height: 76px;
    }
  }
  .zl-stack-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px -12px;
  }
  @media (min-width: 768px) {
    .zl-stack-items {
      margin: -10px -9px;
    }
  }
  @media (min-width: 1024px) {
    .zl-stack-items {
      margin: -15px -23px;
    }
  }
  @media (min-width: 1200px) {
    .zl-stack-items {
      margin: -19px -23px;
    }
  }
  @media (min-width: 1600px) {
    .zl-stack-items {
      margin: -25px -20px;
    }
  }
  .zl-stack-item {
    width: 33.3333%;
    padding: 10px 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  @media (min-width: 768px) {
    .zl-stack-item {
      width: 25%;
      padding: 10px 9px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }
  @media (min-width: 1024px) {
    .zl-stack-item {
      padding: 15px 23px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
    }
  }
  @media (min-width: 1200px) {
    .zl-stack-item {
      padding: 19px 23px;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      border-radius: 13px;
    }
  }
  @media (min-width: 1600px) {
    .zl-stack-item {
      padding: 25px 20px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }
  }
  .zl-stack-item-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background: #f6f6f6;
  }
  @media (min-width: 768px) {
    .zl-stack-item-img {
      height: 140px;
    }
  }
  @media (min-width: 1024px) {
    .zl-stack-item-img {
      height: 170px;
    }
  }
  @media (min-width: 1200px) {
    .zl-stack-item-img {
      height: 185px;
    }
  }
  @media (min-width: 1600px) {
    .zl-stack-item-img {
      height: 240px;
    }
  }
  .zl-stack-item-img img {
    height: 58px;
  }
  @media (min-width: 768px) {
    .zl-stack-item-img img {
      height: 106px;
    }
  }
  @media (min-width: 1024px) {
    .zl-stack-item-img img {
      height: 130px;
    }
  }
  @media (min-width: 1200px) {
    .zl-stack-item-img img {
      height: 150px;
    }
  }
  @media (min-width: 1600px) {
    .zl-stack-item-img img {
      height: 166px;
    }
  }
  .zl-description-header {
    margin: 0 0 30px 0;
  }
  @media (min-width: 768px) {
    .zl-description-header {
      margin: 0 0 40px 0;
    }
  }
  @media (min-width: 1024px) {
    .zl-description-header {
      margin: 0 0 60px 0;
    }
  }
  @media (min-width: 1200px) {
    .zl-description-header {
      margin: 0 0 50px 0;
    }
  }
  @media (min-width: 1600px) {
    .zl-description-header {
      margin: 0 0 80px 0;
    }
  }
  .zl-description-header h2,
  .zl-description-header h3 {
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .zl-description-header h2,
    .zl-description-header h3 {
      font-size: 42px;
      line-height: 44px;
    }
  }
  @media (min-width: 1024px) {
    .zl-description-header h2,
    .zl-description-header h3 {
      font-size: 55px;
      line-height: 58px;
    }
  }
  @media (min-width: 1200px) {
    .zl-description-header h2,
    .zl-description-header h3 {
      font-size: 60px;
      line-height: 63px;
    }
  }
  @media (min-width: 1600px) {
    .zl-description-header h2,
    .zl-description-header h3 {
      font-size: 72px;
      line-height: 76px;
    }
  }
  .zl-description-text {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .zl-description-text {
      font-size: 18px;
      line-height: 26px;
    }
  }
  @media (min-width: 1024px) {
    .zl-description-text {
      font-size: 22px;
      line-height: 33px;
    }
  }
  @media (min-width: 1200px) {
    .zl-description-text {
      font-size: 24px;
      line-height: 35px;
    }
  }
  @media (min-width: 1600px) {
    .zl-description-text {
      font-size: 30px;
      line-height: 44px;
    }
  }
  .zl-description-text b {
    color: #008a6e;
  }
  .zl-staff.-inverse {
    background: #0f0f0f;
    color: #fefefe;
  }
  .zl-staff-header {
    margin: 0 0 30px 0;
  }
  @media (min-width: 768px) {
    .zl-staff-header {
      margin: 0 0 40px 0;
    }
  }
  @media (min-width: 1024px) {
    .zl-staff-header {
      margin: 0 0 60px 0;
    }
  }
  @media (min-width: 1200px) {
    .zl-staff-header {
      margin: 0 0 80px 0;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-header {
      margin: 0 0 100px 0;
    }
  }
  .zl-staff-header h2,
  .zl-staff-header h3 {
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .zl-staff-header h2,
    .zl-staff-header h3 {
      font-size: 42px;
      line-height: 44px;
    }
  }
  @media (min-width: 1024px) {
    .zl-staff-header h2,
    .zl-staff-header h3 {
      font-size: 55px;
      line-height: 58px;
    }
  }
  @media (min-width: 1200px) {
    .zl-staff-header h2,
    .zl-staff-header h3 {
      font-size: 60px;
      line-height: 63px;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-header h2,
    .zl-staff-header h3 {
      font-size: 72px;
      line-height: 76px;
    }
  }
  .zl-staff-item {
    padding: 25px 0;
    border-bottom: 1px solid #d6d6d6;
  }
  @media (min-width: 768px) {
    .zl-staff-item {
      padding: 40px 0;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-item {
      padding: 42px 0;
    }
  }
  .zl-staff-item:first-child {
    padding: 0 0 25px 0;
  }
  @media (min-width: 768px) {
    .zl-staff-item:first-child {
      padding: 0 0 40px 0;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-item:first-child {
      padding: 0 0 42px 0;
    }
  }
  .zl-staff-item:last-child {
    padding: 25px 0 0 0;
    border: none;
  }
  @media (min-width: 768px) {
    .zl-staff-item:last-child {
      padding: 40px 0 0 0;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-item:last-child {
      padding: 42px 0 0 0;
    }
  }
  .zl-staff-item-avatar {
    width: 60px;
    height: 60px;
    margin: 0 12px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .zl-staff-item-avatar {
      width: 66px;
      height: 66px;
      margin: 0 15px 0 0;
    }
  }
  @media (min-width: 1024px) {
    .zl-staff-item-avatar {
      margin: 0 21px 0 0;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-item-avatar {
      width: 86px;
      height: 86px;
      margin: 0 30px 0 0;
    }
  }
  .zl-staff-item-avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .zl-staff-item-name h4 {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .zl-staff-item-name h4 {
      font-size: 18px;
      line-height: 26px;
    }
  }
  @media (min-width: 1024px) {
    .zl-staff-item-name h4 {
      font-size: 22px;
      line-height: 32px;
    }
  }
  @media (min-width: 1200px) {
    .zl-staff-item-name h4 {
      font-size: 24px;
      line-height: 35px;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-item-name h4 {
      margin: 0 0 10px 0;
      font-size: 32px;
      line-height: 47px;
    }
  }
  .zl-staff-item-name p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #979797;
  }
  @media (min-width: 1200px) {
    .zl-staff-item-name p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-item-name p {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .zl-checkbox_rounded
    label
    > input:checked
    ~ .zl-staff-item.zl-checkbox_rounded-box
    .zl-staff-item-name
    h4,
  .zl-navbar.-open .zl-navbar-toggle button.zl-staff-item .zl-staff-item-name h4,
  .zl-staff-item.-active .zl-staff-item-name h4 {
    color: #008a6e;
  }
  .zl-staff-item-icon {
    position: relative;
    margin: 0 15px 0 0;
    color: #008a6e;
  }
  @media (min-width: 768px) {
    .zl-staff-item-icon {
      margin: 0 20px 0 0;
    }
  }
  @media (min-width: 1024px) {
    .zl-staff-item-icon {
      margin: 0 25px 0 0;
    }
  }
  .zl-staff-item-icon svg {
    width: 18px;
    height: 18px;
  }
  @media (min-width: 1024px) {
    .zl-staff-item-icon svg {
      width: 24px;
      height: 24px;
    }
  }
  .zl-staff-item-icon span {
    display: block;
    position: static;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.3s, -webkit-transform 0.4s;
    -o-transition: opacity 0.3s, -o-transform 0.4s;
    -moz-transition: opacity 0.3s, transform 0.4s, -moz-transform 0.4s;
    transition: opacity 0.3s, transform 0.4s;
    transition: opacity 0.3s, transform 0.4s, -webkit-transform 0.4s,
      -moz-transform 0.4s, -o-transform 0.4s;
  }
  .zl-staff-item-icon span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .zl-checkbox_rounded
    label
    > input:checked
    ~ .zl-staff-item.zl-checkbox_rounded-box
    .zl-staff-item-icon
    span:nth-child(1),
  .zl-navbar.-open
    .zl-navbar-toggle
    button.zl-staff-item
    .zl-staff-item-icon
    span:nth-child(1),
  .zl-staff-item.-active .zl-staff-item-icon span:nth-child(1) {
    opacity: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .zl-checkbox_rounded
    label
    > input:checked
    ~ .zl-staff-item.zl-checkbox_rounded-box
    .zl-staff-item-icon
    span:nth-child(2),
  .zl-navbar.-open
    .zl-navbar-toggle
    button.zl-staff-item
    .zl-staff-item-icon
    span:nth-child(2),
  .zl-staff-item.-active .zl-staff-item-icon span:nth-child(2) {
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  .zl-staff-item-text {
    display: none;
    padding: 20px 0 55px 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.005em;
    font-weight: 600;
    opacity: 0;
  }
  @media (min-width: 768px) {
    .zl-staff-item-text {
      padding: 25px 0 60px 0;
      font-size: 16px;
      line-height: 26px;
    }
  }
  @media (min-width: 1600px) {
    .zl-staff-item-text {
      padding: 40px 0 60px 0;
      font-size: 20px;
      line-height: 32px;
    }
  }
  .zl-staff-item-text p {
    margin-bottom: 1em;
  }
  .zl-staff-item-text a {
    position: relative;
    display: inline-block;
    margin: 15px 0 0 0;
    text-decoration: none;
    color: #008a6e;
  }
  .zl-staff-item-text a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: currentColor;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    -moz-transition: transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -moz-transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04);
    transition: transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -webkit-transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -moz-transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04),
      -o-transform 0.4s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  }
  .zl-checkbox_rounded
    .zl-staff-item-text
    label
    > input:focus
    ~ a.zl-checkbox_rounded-box:before,
  .zl-staff-item-text
    .zl-checkbox_rounded
    label
    > input:focus
    ~ a.zl-checkbox_rounded-box:before,
  .zl-staff-item-text a:focus:before,
  .zl-staff-item-text a:hover:before {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  .zl-checkbox_rounded
    label
    > input:checked
    ~ .zl-staff-item.zl-checkbox_rounded-box
    .zl-staff-item-text,
  .zl-navbar.-open .zl-navbar-toggle button.zl-staff-item .zl-staff-item-text,
  .zl-staff-item.-active .zl-staff-item-text {
    display: block;
    opacity: 1;
    -webkit-animation: zl-staff-item-show 0.6s both;
    -moz-animation: zl-staff-item-show 0.6s both;
    -o-animation: zl-staff-item-show 0.6s both;
    animation: zl-staff-item-show 0.6s both;
  }
  .zl-staff-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .zl-staff-head:hover {
    opacity: 0.8;
  }
  .zl-staff-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  @-webkit-keyframes zl-staff-item-show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-moz-keyframes zl-staff-item-show {
    0% {
      opacity: 0;
      -moz-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-o-keyframes zl-staff-item-show {
    0% {
      opacity: 0;
      -o-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes zl-staff-item-show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .zl-feed.-inverse {
    background: #f4f6ff;
  }
  @media (min-width: 768px) {
    .zl-feed-grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }