.blog-section{
    margin-top: 50px;
    padding-top: 50px;
}
.blog-section-1-box{
    padding: 0 150px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-box{
    display: flex;
    padding: 20px;
    flex: 50%;
}
.left-box img{
    width: max-content;
    width: 100%;
    height: 100%;
}
.right-box{
    display: flex;
    padding: 20px;
    flex: 50%;
    box-sizing: border-box;
}
.zl-feed-date {
    margin: 0 0 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #979797;
}
.zl-feed-title {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -.01em;
    font-weight: 600;
}
.zl-feed-description {
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: -.02em;
}
.right-box h3{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
} 
.right-box p{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.zl-feed-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.zl-feed-item {
    margin: 0 0 40px 0;
}
.zl-feed-item a {
    display: block;
    text-decoration: none;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}


.blog-section-2-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* padding-top: 30px;
    padding-left: 115px;
    padding-right: 115px; */
    padding: 0 150px;
    max-width: 1200px;
    margin: 0 auto; 
    padding-top: 35px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blog-box-1{
    display: flex;
    flex-direction: column;
    flex: 50%;
    box-sizing: border-box;
    padding: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.blog-box-img-1{
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.blog-box-img-1 img{
width: max-content;    
}
@media (min-width: 1200px){
.blog-box-1{
    margin: -40px -28px;
}}

@media (min-width: 1024px){
    .blog-box-1 {
    margin: -31px -24px;
}}
@media (min-width: 768px){
.blog-box-1{
    margin: -25px -21px;
}} 

.blog-box-date{
    margin: 0 0 5px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #979797;
}
.blog-box-1-title{
    font-size: 20px;
    font-weight: bold;
}
.blog-box-description{
    font-size: 18px;
    font-weight: 200;
}
.blog-button{
    padding-top: 30px;
}
.blog-section-3-readmore{
    display: flex;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 50px;
    /* padding: 0 150px; */
    /* max-width: 1200px; */
    margin: 0 auto;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
}