.contactCss{
    font-family: 'Inter', sans-serif;
}
 .maincontactpage{
    height: 100vh;
    padding-top: 10vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
 }
 .maincontactpage h1{
    font-family: 'Inter', sans-serif;
    font-size:xx-large;
 }

 .button-who-am-i {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button-who-am-i:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button-who-am-i:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #999;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button-who-am-i:hover {
    color: #ffffff;
    border: 1px solid #999;
   }
   
   .button-who-am-i:hover:before {
    top: -35%;
    background-color: #999;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #999;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

   .main-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   }
   .main-btn button{
    margin: 10px;
   }

   
.who-form{
    height: 90vh;
    display: flex;
    justify-content: center;
    /* flex-flow: column wrap; */
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}
.who-form .left{
    border-right: 4px solid #999;
    border-radius: 8px;
    padding-right: 50px;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.who-form .left h1{
    margin-bottom:50px;
}
.who-form .left button{
    margin-top:50px;
}

.who-form .right{
    width: min-content;
    margin: auto;
}
.who-form h1{
    font-family: 'Inter', sans-serif;
    font-size:60px;
    margin-bottom: 10px;
}
.who-form input{
    margin: 20px;
    outline: none;
    border: none;
    padding: 8px;
    font-size: x-large;
    border-bottom: 2px solid #999 ;
}


.who-form button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .who-form .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  .who-form button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  .who-form button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }