/* Importing Font from google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

/* Event full page access Container */
.event-main-container {
    margin: 0;
    padding: 0;
    margin-top: 60px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* -----------x-----------x----------x---------x-------x-----x-----x------------x----------- */

/* First Container of Event section */
.event-section-1 {
    height: 90vh;
    /* height:100vh; */
    /* opacity: 0.8; */
    background-image: url("F:/mii/client/public/images/single-event-image-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* -----------x-----------x----------x---------x-------x-----x-----x------------x----------- */

/* Section '2' of event section */
.event-section-2-container {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    padding: 8px;
    margin: 40px 0px;
}

/* left side of event section '2' container */
.left-container-event-section-2 {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 4px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}


/* left side containers attributes */
.left-event-section-2-img-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 3px;
    overflow: hidden;
}

.upcoming-event-container {
    background-image: url("F:/mii/client/public/images/coming-soon-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.upcoming-event-container:hover {
    transform: scale(1.1);
}

.left-event-section-2-after-image-container {
    display: flex;
    flex-wrap: wrap;
}

.left-event-section-2-text-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin: 1px;
    padding: 5px 5px;
    width: 64%;
    height: 100%;
    flex-direction: column;
    /* border: 1px solid yellowgreen; */
}

.left-event-section-2-text-container h3:hover {
    cursor: pointer;
    /* color: #017FE4; */
}

/* Registration Button Css */
.event-section-2-register-button {
    /* border: 1px solid pink; */
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5px;
    margin: 1px;
    padding: 5px 5px;
}

.event-section-2-register-button button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 3px;
    font-size: inherit;
    font-family: inherit;
}

.event-section-2-register-button .learn-more {
    width: 12rem;
    height: auto;
}

.event-section-2-register-button .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #000000;
    border-radius: 1.625rem;
}

.event-section-2-register-button .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.event-section-2-register-button .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.event-section-2-register-button .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.event-section-2-register-button .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #000000;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.event-section-2-register-button button:hover .circle {
    width: 100%;
}

.event-section-2-register-button button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.event-section-2-register-button button:hover .button-text {
    color: #fff;
}

/* right side of event section '2' container */
.right-container-event-section-2 {
    width: 48%;
    margin-left: 8px;
    padding: 6px 6px 6px 0px;
    /* display: flex;
    flex-flow: column wrap; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}


@media (max-width: 900px) {
    .left-container-event-section-2 {
        /* height: 90vh; */
        width: 100%;
    }

    .right-container-event-section-2 {
        width: 100%;
    }
}

/* right side containers attributes */
.section-2-right-sub-container {
    margin: 2px 2px 2px 0px;
    display: flex;
    flex-wrap: wrap;
    /* height: 32.5%; */
    /* padding: 3px; */
}

.section-2-right-sub-container-img {
    width: 40%;
    margin: 3px;
    overflow: hidden;
    border-radius: 10px;
}

.past-event-container1 {
    background-image: url("F:/mii/client/public/images/Events-small-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.past-event-container2 {
    background-image: url("F:/mii/client/public/images/Events-small-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.past-event-container3 {
    background-image: url("F:/mii/client/public/images/Events-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.past-event-container1:hover {
    transform: scale(1.1);
}

.past-event-container2:hover {
    transform: scale(1.1);
}

.past-event-container3:hover {
    transform: scale(1.1);
}

.section-2-right-sub-container-text {
    width: 55%;
    margin: 4px;
    padding: 8px;
    display: flex;
    flex-flow: column wrap;
    /* align-items: center; */
}

.section-2-right-sub-container-text h3:hover {
    cursor: pointer;
    /* color: #017FE4; */
}

/* -----------x-----------x----------x---------x-------x-----x-----x------------x----------- */

/* Section '3' of event section */
/* .event-section-3-container{
    height: 90vh;
    width: 100vw;
    height: 100vh;
}
.event-section-3-container img{
    background-size: 100% 100%;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}  */

/* -----------x-----------x----------x---------x-------x-----x-----x------------x----------- */

/* Section '4' of event section */

.event-section-4-container {
    height: 90vh;
    /* margin: 0 10px; */
}

/* Heading Container CSS */
.section-4-heading {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4-heading h3 {
    font-size: 35px;
}

/* Images (logo) CSS */
.logo-sponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 6px; */
    /* grid-template-columns: repeat(4, auto); */
    /* grid-auto-rows: 1fr; */
}

.sponsors-image {
    width: 300px;
    padding: 60px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors-image img {
    /* width: 80%;
    height: 50%;  */
    object-fit: cover;
}