/* Imported font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

/* Full Home section Access Container */
.home-section-container {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 58px;
}

/* Hero Section  */
.home-section-1-container {
  display: flex;
  /* align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  height: 90vh;
  /* margin: 5px; */
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
}

/* Left side Container of herosection */
.home-section-1-text {
  display: flex;
  padding: 2px;
  margin: 4px;
  flex-flow: column wrap;
  width: 60%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

/* Left Container Heading (MII Foundation) */
.home-section-1-heading {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  height: 35%;
  /* justify-content: flex-end; */
  align-items: center;
  /* border: 2px solid black; */
}

/* MII Slogan Container */
.home-section-1-slogan {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  height: 20%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

/* Styling (MII Foundation) h3 tag */
.section-1-home-container1 h3{
  /* align-items: flex-end; */
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  /* border: 1px solid green; */
}

/* Right Side Container of herosection */
.home-section-1-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 2px;
  margin: 4px;
  /* border: 1px solid red; */
}

.hero-section-1-img {
  /* width: 100%; */
  height: 80%;
}

@media (max-width: 800px) {
  .removeonphone {
    display: none;
  }

  .home-section-1-text{
    display: flex;
    justify-content: center;
    
  }
  .home-section-1-container{
     display: flex;
     justify-content: center;
    
    align-items: center;
  }
}

@media(min-width: 801px){
 .removeonlaptop{
  display: none;
 }
}

/* Styling (MII Slogan) h3 tag*/
.mii-slogan {
  font-size: 30px;
  text-align: center;
}

/* Home Section (second) Container after herosection */
.section2-home-page {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

/* Container inside second container */
.home-section2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  /* width: 94%; */
  /* border: 2px solid green; */
}

/* Left container inside section-2-container */
.home-section2-heading {
  width: 280px;
  margin: 5px;
  padding: 8px;
  /* border: 2px solid rgb(22, 30, 22); */
}

.home-section2-heading h1 {
  color: white;
  /* border-right: 3px dotted #017FE4; */
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1.4;
  /* text-align: center; */
  /* padding: 1% 3%; */
}

@media (min-width: 900px) {
  .home-section2-heading h1 {
    border-right: 3px solid #ffffff;
  }
}

/* Right container inside section-2-container */
.home-section2-content {
  width: 60%;
  margin: 10px;
  padding: 8px;
}

.home-section2-content p {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.3;
  /* text-align: center; */
}