/* .herosection{
    height: 650px;
} */


.column_heading .title {
    margin-bottom: 0;
}
h1, h1 a, h1 a:hover, .text-logo #logo {
    color: #0c0a1c;
}
h1, .text-logo #logo {
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: 0px;
}

.left_container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.text {
  /* background-color: aqua; */
  padding: 50px;
  flex: 30%;
  text-align: left;
  flex: 0 0 100%;
    max-width: 100%;
}

.text_area {
  display: flex;
  flex-direction: row;
}
.left_text {
  /* background-color: aqua; */
  padding: 50px;
  flex: 50%;
  text-align: left;
}
.right_text {
  /* background-color: beige; */
  padding: 50px;
  flex: 50%;
}

@media (max-width:767px) {
    .right_text{
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:768px) {
    .right_text{
        max-width: 240px;
        max-height: 240px;
    }
}
img{
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px)
{
.right_text {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 780%;
    flex-direction: row-reverse;
}}

@media (max-width: 800px) {
    .text_area {
      flex-direction: column;
     
    }}
@media (min-width: 700px) {
  .text_area,
  .text_area-lg,
  .text_area-md,
  .text_area-sm,
  .text_area-xl {
    max-width: max-content;
  }
}
@media (max-width: 800px) {
    .left_container {
      flex-direction: column;
     
    }}
@media (min-width: 700px) {
  .left_container,
  .left_container-lg,
  .left_container-md,
  .left_container-sm,
  .left_container-xl {
    max-width: max-content;
  }
}

.simple_text {
  display: flex;
  flex-direction: row;
}
.left_simple {
  /* background-color: aqua; */
  padding: 50px;
  flex: 50%;
  text-align: left;
}
.right_simple {
  /* background-color: beige; */
  padding: 50px;
  flex: 50%;
  text-align: left;
}

@media (max-width: 800px) {
  .simple_text {
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .simple_text,
  .simple_text-lg,
  .simple_text-md,
  .simple_text-sm,
  .simple_text-xl {
    max-width: max-content;
  }
}

img.scale-with-grid, #Content img {
    max-width: 100%;
    
    height: auto;
}
.image_frame .image_wrapper img:not(.ls-l) {
    position: relative;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
img.scale-with-grid, .content_wrapper img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}
@media (max-width:767px) {
    .left_img{
        max-width: 100%;
        max-height: 100%;
    }
}
.right_img_text{
    padding: 50px;
  flex: 50%;
}
@media (min-width:768px) {
    .left_img{
        padding: auto;
        max-width: 240px;
        max-height: 240px;
    }}