@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

/* Offering full page access */
.offering-main-container {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-top: 10vh;
}

/* Section - 1 */
.offering-section-1-container {
    height: 100vh;
    padding-top: 10vh;

}

.offering-section-1-image {
    background-image: url("https://cdn.dribbble.com/users/32512/screenshots/5315301/media/2b600b3c659b06eb2b4231ab38d72933.gif");
    /* background-image: url("https://ouch-cdn2.icons8.com/OxiwJk2ZGVU0r9HGQvaC108RqZfoUuZyg3lOMmu1Sow/rs:fit:256:192/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzgy/LzkxZjE2YTRmLTIy/ZDctNDFkYy1hNjY0/LTc4ODc1ZTU4MjBm/Mi5wbmc.png"); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 90vh;
    padding: 20px 50px;
    /* border: 1px solid red; */
}

.section-1-offering-heading1 {
    font-size: 45px;
    text-align: center;
    height: 40%;
}

.section-1-offering-heading1 h3 {
    font-weight: 600;
}

.section-1-offering-heading2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}

.offering-section-1-sub-heading {
    /* border: 1px solid green; */
    margin: 30px;
    padding: 5px;
    font-size: 40px;
}

.offering-section-1-sub-heading h3 {
    font-weight: 400;
    cursor: pointer;
}

.section-1-offering-heading3 {
    margin: 10px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
}

.section-1-offering-heading3 h3 {
    font-weight: 300;
}

/* Section - 2 */
.offering-section-2-container {
    height: 100vh;
    padding-top: 10vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.offering-section-2-content {
    margin: 20px;
    padding: 10px 150px;
    display: flex;
}

.offering-section-2-content p {
    font-size: 60px;
    font-weight: 800;
}