.pg-footer{
    font-family: Inter,sans-serif;
    font-weight: 300;
    text-decoration: none;
    
}

.footer-section-1{
    display: flex;
    padding: 20px;
    height: 30vh;
    background-color: black;
    color: white;
}
.footer-section-2{
    border: 1px solid red;
}

.footer-wave-path {
    fill: #ffffff;
} */

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #ffffff;
    border-radius: 8px;
    color: #000000;
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s;
    cursor: pointer;
}
.fa-brands{
    padding: 10px;
    font-weight: 100;
    display: flex;
    
}
.getintouch-section{
    padding-right: 10px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 15p;
    background-color: white;
    color: black;
    border-radius: 8px;
    margin-left: auto;
    /* padding: 10px; */
    cursor: pointer;
}
.copyright-section{
text-align: center;
color: black;
background-color: white;
padding: 0.8rem 0;
}