.footer-pg{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    /* padding: 50px; */

}
.footer-main-box{
    border: 1px solid red;
    height: 70vh;
    width: 70vw;
}