.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* z-index: 999; */
    margin-top: 3vh;
    margin-bottom: 1vh;
    /* padding: 5px 0 0 0; */
    /* top: 0; */
    background-color: white;
    /* background-color: black; */
    /* border: 2px solid red; */
}

.header {
    /* border: 1px solid black; */
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 2.5fr;
    gap: 10px;
}

.navbar-items-left{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.left-items {
    width: max-content;
    display: flex;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
}

.left-items a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-weight: 400;
    margin: 0 12px;
    color: black;
    box-sizing: border-box;
}

.navbar-items-right{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}

.right-items {
    display: flex;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
}

.right-items img{
    width: 35px;
    padding: 2px;
    /* margin: 2px 12px; */
}

.right-items a {
    text-decoration: none;
    padding: 5px 5px;
    margin: 0 5px;
    color: black;
    box-sizing: border-box;
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-contact{
    /* border: 1px solid pink; */
    border-radius: 5px;
    padding: 1px;
    background-color: black;
    opacity: 0.7;
    display: flex;
}

.right-contact:hover{
    background-color: rgb(43, 41, 41);
    opacity: 0.7;
}

/* .right-contact a:hover{
    color: black;
} */

.right-contact a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-weight: 300;
    margin: 0 12px;
    color: white;
    box-sizing: border-box;
}

.left-items .active{
    border-bottom: 2px solid #000000;
}
.left-items a:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.left-items a:active {
    color: #000000;
}


.on-mobile-cross{
    display: none;
}

.handburg{
    margin-left:20%;
}

.navbar-items-for-mobile{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.navbar-items-for-mobile{
    font-size: 47px;
    color: #000000;
}

.navbar-items-for-mobile a{
    text-decoration: none;
    color: #000000;
    margin: 10px 0;
}

.navbar-items-for-mobile img{
    width: 35px;
    padding: 2px;
    /* margin: 2px 12px; */
}
