.event-page-hero{
    /* padding-top: 12vh; */
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}
.event-page-hero .text-section{
    /* height: 50vh; */
    text-align: center;
    padding: 80px;
    width: 48%;
}
.event-page-hero .text-section h1{
    margin: 13px;
}
.event-page-hero .img-section{
    /* height: 50vh; */
    text-align: center;
    width: 48%;
}

.button-event{
    margin: 20px;
}
.button-event button{
    margin: 10px;
}
.img-section h1{
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
}
.past-events{
    /* padding-top: 12vh; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.singlepastevent{
    margin: 10px;
    border: 2px solid #999;
    width: 300px;
    /* height: 50%; */
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

.singlepastevent h1{
    margin: 10px;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

.singlepastevent img{
    
    padding: 10px;
    border-radius: 15px;
}
.past-event-name-section{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.past-event-name-section h1{
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
}