.main-section {
    min-height: 80vh;
    /* margin-top: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-section-right {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.main-section-left {
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    width: 55%;
    font-size: 25px;
    text-align: center;
}

.main-section-left span {
    color: rgb(0, 0, 0);
}

.home-svg {
    background-color: black;
    opacity: 0.8;
    display: flex;
    /* border: 2px solid black; */
    height: 60vh;
    width: 60vh;
    padding: 10vh;
    border-radius: 125%;
}