@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

.main-section {
	font-family: 'Inter', sans-serif;
	min-height: 86vh;
	/* margin-top: 10vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

.main-section-right {
	/* border: 1px solid red; */
	position: absolute;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	min-height: 80vh;
	width: 40%;
}

.main-section-left {
	letter-spacing: 1px;
	font-family: 'Inter', sans-serif;
	width: 55%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: end;
	text-align: center;

}

.main-section-left-upper {
	margin-bottom: 5px;
}

.main-section-left-upper h1 {
	font-size: 5vh;
	/* font-weight: 300; */
}

.main-section-left-upper p {
	font-size: 3vh;
	font-weight: 300;
	margin-top: 10px;
}

.main-section-left-down {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main-section-left-down h1 {
	margin: 20px;
}

.home-svg {
	background-color: black;
	/* opacity: 0.8; */
	display: flex;
	/* border: 2px solid black; */
	height: 50vh;
	width: 50vh;
	padding: 10vh;
	border-radius: 125%;
}


@media only screen and (max-width: 600px) {
	.main-section-right {
		width: 100%;
	}

	.main-section-left {
		width: 100%;
	}

	.home-svg {
		width: 100%;
	}
}



.put-down-centre {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll-prompt {
	position: absolute;
	z-index: 998;
	bottom: 3vh;
	width: 10vh;
	height: 10vh;

	.scroll-prompt-arrow-container {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -18px;
		animation-name: bounce;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}

	.scroll-prompt-arrow {
		animation-name: opacity;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}

	.scroll-prompt-arrow:last-child {
		animation-direction: reverse;
		margin-top: -6px;
	}

	.scroll-prompt-arrow>div {
		width: 4vh;
		height: 4vh;
		border-right: 8px solid black;
		border-bottom: 8px solid black;
		transform: rotate(45deg) translateZ(1px);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(3px);
	}

	20% {
		transform: translateY(6px);
	}

	30% {
		transform: translateY(9px);
	}

	40% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(15px);
	}

	60% {
		transform: translateY(18px);
	}

	70% {
		transform: translateY(21px);
	}

	80% {
		transform: translateY(24px);
	}

	90% {
		transform: translateY(27px);
	}

	100% {
		transform: translateY(30px);
	}
}