@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

.ourpartner-main-container {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 10vh;
    padding-top: 5vh;
    box-sizing: border-box;
}

.home-sec6-main {
    padding-bottom: 30px;
    background-color: black;
    color: white;
}

.home-sec6-h1 {
    transform: translate(0px, 0px);
    letter-spacing: .015em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}

.home-sec6-img {
    position: relative;
    left: 22px;
    top: 21px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.home-sec6-imgbox {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.home-sec6-carousel {
    margin: 60px 5px 30px 5px;
    display: flex;
}

.home-sec6-text {
    font-size: 20px;
    margin: 2px 0;
    line-height: 1.5;
    font-weight: 300;
}

.home-sec6-start {
    padding: 5%;
}

button.rec-dot {
    visibility: hidden;
}

.rec-arrow {
    background-color: black !important;
    color: grey !important;
    border: 2px solid grey !important;
    cursor: pointer !important;
}

.rec-arrow:hover {
    border: 2px solid white !important;
    background-color: black !important;
    color: white !important;
    cursor: pointer !important;

}