.testimonial-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0px;
  min-height: 100vh;
}
.testimonial-inner-box h1{
  font-size: 60px;
  font-weight: 600;
}
.testimonial-inner-box{
  padding: 0px 80px;
  width: 80%;
}
.testimonial-text-content{
  padding: 60px 0px;
}
.testimonial-text-content p{
  font-size: 30px;
  color: #999;
}
.testimonial-bottom-section img{
  width: 80px;
  height: 80px;
  border-radius: 125%;
}
.testimonial-bottom-section{
  display: flex;
  justify-content: space-between;
}
.testimonial-avtar-container{
  display: flex;
}
.testimonial-name-container{
  padding: 20px;
  display: flex;
  justify-content:center;
  /* align-items: center; */
  flex-direction: column;
}

.testimonial-next-prev-option .nxt-prv-btn{
  border: 1px solid black;
  padding: 10px;
  border-radius: 125%;
  width: 80px;
  cursor: pointer;
  height: 80px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-next-prev-option{
  display: flex;
  justify-content: center;
  align-items: center;
}