.blog-section {
    margin-top: 5vh;
    box-sizing: border-box;
}

.blog-section-1-box {
    height: 80vh;
    padding: 0 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200;
}

.blog-section-1-left-box {
    display: flex;
    align-items: center;
    width: 50%;
    height: 54vh;
    margin: 8px;
}

.blog-section-1-left-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-section-1-right-box {
    display: flex;
    padding: 20px;
    margin: 8px;
    width: 46%;
    box-sizing: border-box;
}

.blog-feed-date {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #000000;
}

.blog-feed-title {
    margin: 10px 10px 10px 0;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 1;
    font-weight: 400;
}

.blog-section-2-box{
    min-height: 100vh;
    /* margin: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blog-box-1{
    /* width: 320px; */
    cursor: pointer;
    width: 35%;
    margin: 20px;
    padding-bottom: 40px;
}

.blog-box-date{
    font-weight: 600;
}
.blog-box-img-1{
    padding-bottom: 10px;
}

.blog-box-img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-box-1-title{
    font-weight: bold;
    line-height: 1;
    font-size: 30px;
    padding: 5px 0px;
}
.blog-box-description{
    padding: 2px 0px;
}
.main-blog-section{
    margin: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .blog-section-1-box{
        flex-direction: column;
        padding: 0%;
    }
    .blog-section-1-left-box{
        width: 100%;
    }
   .blog-section-1-right-box{
        width: 100%;
    }
    .blog-box-1{
        width: 100%;
    }
}