.scroll-animation-homepage{
    margin: 10vh 20vh;
    min-height: 100vh;
}
.scroll-animation-homepage-container-content{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-animation-homepage-container-content h1{
  font-size: 9rem;
  font-weight: 700;
  text-align: center;
  width: 50%;
}
.scroll-animation-homepage-container-content i{
  width: 40%;
  position: -webkit-sticky;
  position: sticky;
  top:150px;
  text-align: center;
}

.hidden-i-animation{
  visibility:hidden;
  opacity: 0;
  transition: all 2s;
}

.show-i-animation{
  visibility: visible;
  opacity: 1;
  transition: all 5s;
}

.show-animation{
  animation-name: fade-in;
  animation-duration: 5s;
}

.hide-animation{
  animation-name: fade-out;
  animation-duration: 5s;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  50%{
    color: aqua;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade-out {
  100%{
    opacity: 1;
  }
  50%{
    color: red;
  }
  0%{
    opacity: 1;
  }
}