.scroll-animation-homepage{
    margin: 10vh 20vh;
    min-height: 100vh;
}
.scroll-animation-homepage-container-content{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-animation-homepage-container-content h1{
  font-size: 9rem;
  font-weight: 700;
  text-align: center;
  width: 50%;
}
.scroll-animation-homepage-container-content i{
  width: 40%;
  text-align: center;
}